[web]
#http server port
debug = true
host = "localhost"
port = 9090
log = "/tmp/logs"

[path]
# path to save release version tarballs.
release = "/tmp/release"

# path to save pre-release version tarballs.
pre-release = "/tmp/prerelease"

# path to save draft version tarballs.
draft = "/tmp/draft"

# path to save source tarballs
source = "/tmp/sources"

# create symlink to other directory under source directory, default is false.
# symlink_in_source = true

[security]
# secret key
# You need to set a hidden variable named API_SECRET on the travis ci and set the same value.
api_secret = "abcdefghijklmnopqrstuvwxyz"

# allow repos
# only github is supported, the format is: "organization/repo", "*" allows any repository.
allow_repos = [
"mate-desktop/marco",
"*",
]

# allow ips
# ip address of travis ci: https://docs.travis-ci.com/user/ip-addresses/
allow_ips = [
"127.0.0.1",
"::1",
]
